#level-1.garden {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px; 
}

#level-1.garden .peas {
  grid-column: 1;
  grid-row: 1;
}

#level-1.garden .onions {
  grid-column: 2;
  grid-row: 1;
}

#level-1.garden .tomatoes {
  grid-column: 1;
  grid-row: 2;
}

#level-1.garden .lettuce {
  grid-column: 2;
  grid-row: 2;
}

#level-1.garden .carrots {
  grid-column: 1;
  grid-row: 3;
}

#level-2.garden {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px; 
}

#level-2.garden .peas {
  grid-column: 1 / span 2;
  grid-row: 1;
}

#level-2.garden .onions {
  grid-column: 1;
  grid-row: 2;
}

#level-2.garden .tomatoes {
  grid-column: 2;
  grid-row: 2;
}

#level-2.garden .lettuce {
  grid-column: 1;
  grid-row: 3;
}

#level-2.garden .carrots {
  grid-column: 2;
  grid-row: 3;
}

#level-3.garden {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

#level-3.garden .peas {
  grid-column: 1;
  grid-row: 1;
}

#level-3.garden .onions {
  grid-column: 2 / span 2; 
  grid-row: 1;
}

#level-3.garden .tomatoes {
  grid-column: 1 / span 2; 
  grid-row: 2;
}

#level-3.garden .lettuce {
  grid-column: 3;
  grid-row: 2;
}

#level-3.garden .carrots {
  grid-column: 1 / span 3; 
  grid-row: 3;
}
#level-4.garden {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px; 
}

#level-4.garden .tomatoes {
  grid-column: 1;
  grid-row: 2;
}

#level-4.garden .lettuce {
  grid-column: 2;
  grid-row: 2;
}

#level-4.garden .onions {
  grid-column: 3;
  grid-row: 1 / span 2; 
}

#level-4.garden .carrots {
  grid-column: 4;
  grid-row: 1 / span 2; 
}

#level-4.garden .peas {
  grid-column: 1 / span 2; 
  grid-row: 1;
}
#level-5.garden {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto)
}

#level-5.garden .carrots {
  grid-column: 1;
  grid-row: 1 / 6;
}

#level-5.garden .onions {
    grid-column: 3;
   
 grid-row: 1 / 3;
}

#level-5.garden .lettuce {
  grid-column: 5;
  grid-row: 1;
}

#level-5.garden .peas {
  grid-column: 4 / 6;
  grid-row: 2;
}

#level-5.garden .tomatoes {
  grid-column: 2 / 5;
  grid-row: 3;
}

#level-6.garden {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr); 
}

#level-6.garden .carrots {
  grid-column: 1 / 6; 
  grid-row: 1; 
}

#level-6.garden .onions {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#level-6.garden .peas {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
}

#level-6.garden .tomatoes {
  grid-column: 5 / 6;
  grid-row: 2 / 4;
}

#level-6.garden .lettuce {
  grid-column: 1 / 6;
  grid-row: 4; 
}

#level-7.garden {
  display: grid;
  grid-template-columns: repeat(5, minmax(5ch, 1fr));
}

#level-8.garden {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15ch);
  grid-auto-rows: 5ch;
}

  #level-9.garden {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-rows: 5rem;
  
}